*{
   background: #F5DABD
}
header{
   font-family: 'Walter Turncoat', cursive;
   color: #8b6e47;
   font-size: 38px;
   padding-left: 25px;
   padding-top: 15px;
}
.columna1{
   position: absolute;
   left: 3%;
   width: 55%;
   margin-top: 12px;
   height: 60%;
}
.texto{
   font-family: 'Inconsolata', monospace;
   font-size: 16px;
   position: absolute;
   width: 98%;
   height: 100%;
   border: none;
   border-radius: 15px;
   letter-spacing: .12em;
   font-size: 20px;
   font-weight: 0;
   line-height: 1.2em; 
   background-color: #F5DABD;
}
.texto:focus{
   outline: none;
   background-color: #f7f2e4;
}
.condiciones{
   margin-top: 55%;
   font-family: 'Inconsolata', monospace;
   font-weight: bolder;
   font-size: 14px;
}
.buttons{
   display: flex;
   flex-direction: row;
   margin-left: 6%;
   margin-top: 2%;
}
.b_encriptar{
   font-family: 'Inconsolata', monospace;
   font-weight: bolder;
   font-size: 16px;
   text-align: center;
   padding: 14px 40px;
   letter-spacing: .1em;
   cursor: pointer;
   background-color: #f7f2e4;
   border-radius: 21px;
   border: 2px solid #a6792a;
   margin-right: 6%;
}
.b_encriptar:hover{
   background-color: #a6792a;
   font-weight: bolder;
}
.b_desencriptar{
   font-family: 'Inconsolata', monospace;
   font-weight: bolder;
   font-size: 16px;
   text-align: center;
   padding: 14px 40px;
   letter-spacing: .1em;
   cursor: pointer;
   background-color: #f7f2e4;
   border-radius: 21px;
   border: 2px solid #8e7356;
   margin-right: 6%;
}
.b_desencriptar:hover{
   background-color: #8e7356;
   font-weight: bolder;
}
.b_copiar{
   font-family: 'Inconsolata', monospace;
   font-weight: bolder;
   font-size: 16px;
   text-align: center;
   padding: 14px 40px;
   letter-spacing: .1em;
   cursor: pointer;
   background-color: #f7f2e4;
   border-radius: 21px;
   border: 2px solid #e2bd60;
}
.b_copiar:hover{
   background-color: #e2bd60;
   font-weight: bolder;
}
.columna2{
   margin-left: 60%;
   position: relative;
   width: 30%;
   height: 100%;
   top: 15%;
   border: 2px solid #f7f2e4;
   border-radius: 15px;
   background-color: #f7f2e4;
}
.caja_imagen{
   position: absolute;
   display: inline-block;
   width: 63%;
   height: 44%;
   margin-left: 16%;
   border-radius: 10px;
   background-image: url(Pikachu_Detective.jpg);
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-position: center top;
}
.texto_d{
   font-family: 'Inconsolata', monospace;
   font-weight: bold;
   background-color: #f7f2e4;
   width: 86%;
   text-align: center;
   margin-top: 65%;
   margin-left: 5%;
}
.texto_d h1{
   background-color: #f7f2e4;
   padding: 1%;
   font-size: 22px;
}
.texto_d p::before{
   content: "\2728"
}
.texto_d p{
   margin: auto;
   background-color: #f7f2e4;
   text-align: center;
   font-size: 14px;
   padding: 3%;
}
.texto_d p::after{
   content: "\2728"
}
.mensaje_respuesta{
   background-color: #f7f2e4;
   border-radius: 10px;
}
.mensaje_r{
   width: 99%;
   height: 80%;
   border: none;
   letter-spacing: .11em;
   font-size: 18px;
   line-height: 1.2em; 
   border-radius: 10px;
   background-color: #f7f2e4;
}
.ocultar{
   display: none;
}
@media screen and (max-width:414px){
   header{
      font-size: 22px;
      padding-left: 6px;
      padding-top: 8px;
      text-align: center;
   }
.columna1{
   width: 92%;
   height: 30%;
}
.texto{
   font-size: 14px;
}
.condiciones{
   margin-top: 64%;
   font-size: 9px;
}
.buttons{
   margin-left: 6%;
}
.b_encriptar, .b_copiar, .b_desencriptar{
   font-size: 12px;
   text-align: center;
   padding: 4px 12px;
}
.columna2{
   position: absolute;
   margin-top: 64%;
   height: 30%;
   margin-left: 3%;
   width: 92%;
}
.caja_imagen{
   margin-left: 0;
   height: 60%;
   width: 35%;
}
.texto_d {
   width: 58%;
   position: fixed;
   margin-top: 2%;
   margin-left: 34%;
}
.texto_d h1{
   font-size: 11px;
}
.texto_d p{
   padding-top: 8%;
   font-size: 9px;
}}