html{
   margin: 12px;
   padding: 0;
   background-color: aquamarine;
}
.tituloPrincipal{
   font-family: 'Indie Flower', cursive;
   font-size: 40px;
   padding-left: 30px;
   padding-top: 25px;
}
.contenedor{
   position: relative;
   width: 940px;
   height: 1080px;
}
.texto{
   position: absolute;
   width: 44%;
   height: 48%;
   margin-left: 6%;
   margin-top: 4%;
   border: none;
   border-radius: 10px;
   font-family: 'Roboto Mono', monospace;
   letter-spacing: .12em;
   font-weight: bold;
   font-size: 22px;
   line-height: .5cm;
   background-color: antiquewhite;
   text-transform: lowercase;
}
.texto:focus, .texto:active{
   outline: none;
   background-color: green;
}
.cajaBotones{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 14px 40px;
   position: absolute;
   width: 80%;
   margin-top: 60%;
   margin-left: 5%;
}
.botonEncriptar{
   text-align: center;
   cursor: pointer;
   background-color: aquamarine;
   border: 2px solid #F5DABD;
   border-radius: 21px;
   transition-duration: .2s;
   padding: 14px 40px;
   font-size: 14px;
   font-weight: bold;
   color: black;
   letter-spacing: 0.1em;
   margin-right: 12px;
}
.botonEncriptar:hover{
   background-color: #F5DABD;
}
.botonDesencriptar{
   cursor: pointer;
   background-color: aquamarine;
   border: 2px solid #F9A799;
   border-radius: 21px;
   transition-duration: .2s;
   padding: 14px 40px;
   font-size: 14px;
   font-weight: bold;
   color: black;
   letter-spacing: 0.1em;
}
.botonDesencriptar:hover{
   background-color: #F9A799;
}